<tui-accordion class="container">
  <tui-accordion-item>
    <h2 class="h6 mb-0">Выбор услуги</h2>

    <ng-template tuiAccordionItemContent>
      <usgik-choose-offer></usgik-choose-offer>
    </ng-template>
  </tui-accordion-item>

  <tui-accordion-item>
    <h2 class="h6 mb-0">Выбор параметров</h2>

    <ng-template tuiAccordionItemContent>
        <div #content>
          Basic elements needed to develop components, directives and more using Taiga UI design system
        </div>
    </ng-template>
  </tui-accordion-item>

  <tui-accordion-item>
    <h2 class="h6 mb-0">Оформление</h2>
    <ng-template tuiAccordionItemContent>
      The main set of components used to build Taiga UI based Angular applications
    </ng-template>
  </tui-accordion-item>
</tui-accordion>
